body {
  background-color: #3bd6fd;
}
.button:active {
  transform: translateY(4px);
  transition-duration: 0.15s;
}

#info {
  border-collapse: collapse;
  border: 2px solid black;
}
#farmer {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 220px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}
#assistantManager{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 390px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#bossBaby {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 560px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#elonMusk {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 730px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#artificialIntel {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 900px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#juiceMkr{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 220px;
  left: 1050px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#conveyBelt {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 390px;
  left: 1050px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#solarPanel {
  position: absolute;
  bottom: 0;
  right: 0;
  top:560px;
  left: 1050px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}

#upgradeText1 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 220px;
  left: 300px;
}

#upgradeText2 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 390px;
  left: 300px;
}

#upgradeText3 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 560px;
  left: 300px;
}

#upgradeText4 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 730px;
  left: 300px;
}

#upgradeText5 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 900px;
  left: 300px;
}

#upgradeText6 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 220px;
  left: 1250px;
}

#upgradeText7 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 390px;
  left: 1250px;
}

#upgradeText8 {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 560px;
  left: 1250px;
}

#juiceClicker {
  z-index: 100;
  position: absolute;
  top: 360px;
  right: 472px;
}

#welcomeBox {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 80px;
  left: 500px;
  width: 400px;
  height: 200px;
  border: 4px solid #ff9900;
  padding-left: 20px;
  padding-right: 20px;
}

#bigSign {
  position: absolute;
  top: 300px;
  left: 590px;
}

#workerInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 50px;
  left: 30px;
  width: 400px;
  height: 130px;
  border: 4px solid #ff9900;
  padding-left: 15px;
  padding-right: 5px;
}

#machineInfo {
    position: absolute;
    bottom: 0;
    right: 0px;
    top: 50px;
    left: 985px;
    length: 200px;
    width: 400px;
    height: 130px;
    border: 4px solid #ff9900;
    padding-left: 15px;
    padding-right: 5px;
}

#score {
  position: absolute;
  top: 800px;
  left: 720px;
}

#timesClicked {
  position: absolute;
  position: absolute;
  top: 830px;
  left: 720px;
}

#upgradeText6 {
  position: absolute;
  bottom: 0;
  right: 0px;
  top: 300px;
  left: 1200px;
}
#upgradeText7 {
  position: absolute;
  bottom: 0;
  right: 0px;
  top: 470px;
  left: 1200px;
}
#juiceShp{
  position: absolute;;
  bottom: 0;
  right: 0px;
  top: 470px;
  left: 1000px;
  width: 150px;
  height: 150px;
  border: 4px solid #ff9900;
  border-radius: 50%;
}
#juiceLabel{
  position: absolute;
  top: 800px;
  right: 0px;
  left: 550px;
  width: 150px;
  border: 1px solid black;
}
#clickLabel{
  position: absolute;
  top: 830px;
  right: 0px;
  left: 550px;
  width: 150px;
  border: 1px solid black;
}
