body {
  background-color: #3bd6fd;
}
.button:active {
  transform: translateY(4px);
  transition-duration: 0.15s;
}
#info {
  border-collapse: collapse;
  border: 2px solid black;
}
#farmer {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 80px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(55, 93, 151);
  border-radius: 50%;
}
#assistantManager{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 250px;
  left: 100px;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(55, 93, 151);
  border-radius: 50%;
}
#upgradeText1{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 80px;
  left: 300px;
}
#upgradeText2{
  position: absolute;
  bottom: 0;
  right: 0;
  top: 250px;
  left: 300px;
}
#juiceClicker{
  position: relative;
  z-index: 100;
}